@model List<EcommerceCommon.Infrastructure.ViewModel.CollectionImageViewModel>
@{
    ViewData["Title"] = "GetCollectionImageList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Collection Image</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Collection Image</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with minimal features & hover style</h3>
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th> Tên Danh Mục </th>
                                        <th> Ảnh </th>
                                        <th> Trạng thái </th>
                                        <th>Bị Xóa </th>
                                        <th> Ngày tạo </th>
                                        <th>Người tạo</th>
                                        <th>Người sửa</th>
                                        <th>Ngày sửa</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.CategoryName </td>
                                            <td><img src="http://localhost:50776/images/@item.UrlImage" alt="Alternate Text" /></td>
                                            <td>@item.Status</td>
                                            <td>@item.IsDeleted</td>
                                            <td>@item.CreatedDate</td>
                                            <td>@item.CreatedBy</td>
                                            <td>@item.UpdatedDate</td>
                                            <td>@item.UpdatedBy </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                            </td>
                                        </tr>
                                    }


                                <tfoot>
                                    <tr>
                                        <th> Tên Danh Mục </th>
                                        <th> Ảnh </th>
                                        <th> Trạng thái </th>
                                        <th>Bị Xóa </th>
                                        <th> Ngày tạo </th>
                                        <th>Người tạo</th>
                                        <th>Người sửa</th>
                                        <th>Ngày sửa</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


